<div id="preloader">
  <div class="loader">
    <img src="../images/loader.gif" alt="#" />
  </div>
</div>
<div id="main-wrap">
  <div id="top-bar-nav">
    <a href="/homepage"><img id="logo-btn-krn" src="/images/Color logo - no background.png" /></a>
    <div class="dropleft">
      <button class="drop-btn btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Exercises
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <div class="dropdown-col column-1">

          <button id="back" class="dropdown-item dropdown-bold bp" type="button">Back</button>
          <button id="lats" class="dropdown-item muscle" type="button">Lats</button>
          <button id="spine" class="dropdown-item muscle" type="button">Spine</button>
          <button id="upper%20back" class="dropdown-item muscle" type="button">Upper Back</button>
          <div class="dropdown-divider"></div>

          <button id="cardio" class="dropdown-item dropdown-bold bp" type="button">Cardio</button>
          <button id="cardiovascular%20system" class="dropdown-item muscle" type="button">Cardiovascular System</button>
          <div class="dropdown-divider"></div>

          <button id="chest" class="dropdown-item dropdown-bold bp" type="button">Chest</button>
          <button id="pectorals" class="dropdown-item muscle" type="button">Pectorals</button>
          <button id="serratus%20anterior" class="dropdown-item muscle" type="button">Serratus Anterior</button>
          <div class="dropdown-divider"></div>

          <button id="lower%20arms" class="dropdown-item dropdown-bold bp" type="button">Lower Arms</button>
          <button id="forearms" class="dropdown-item muscle" type="button">Forearms</button>
          <div class="dropdown-divider"></div>

          <button id="lower%20legs" class="dropdown-item dropdown-bold bp" type="button">Lower Legs</button>
          <button id="calves" class="dropdown-item muscle" type="button">Calves</button>
          <div class="dropdown-divider"></div>

          <button id="neck" class="dropdown-item dropdown-bold bp" type="button">Neck</button>
          <button id="levator%20scapulae" class="dropdown-item muscle" type="button">Levator Scapulae</button>

        </div>
        <div class="dropdown-col column-2">

          <button id="shoulders" class="dropdown-item dropdown-bold bp" type="button">Shoulders</button>
          <button id="delts" class="dropdown-item muscle" type="button">Deltoids</button>
          <button id="traps" class="dropdown-item muscle" type="button">Traps</button>
          <div class="dropdown-divider"></div>

          <button id="upper%20arms" class="dropdown-item dropdown-bold bp" type="button">Upper Arms</button>
          <button id="biceps" class="dropdown-item muscle" type="button">Biceps</button>
          <button id="triceps" class="dropdown-item muscle" type="button">Triceps</button>
          <div class="dropdown-divider"></div>

          <button id="upper%20legs" class="dropdown-item dropdown-bold bp" type="button">Upper Legs</button>
          <button id="abductors" class="dropdown-item muscle" type="button">Abductors</button>
          <button id="adductors" class="dropdown-item muscle" type="button">Adductors</button>
          <button id="hamstrings" class="dropdown-item muscle" type="button">Hamstrings</button>
          <button id="quads" class="dropdown-item muscle" type="button">Quads</button>
          <div class="dropdown-divider"></div>

          <button id="waist" class="dropdown-item dropdown-bold bp" type="button">Waist</button>
          <button id="abs" class="dropdown-item muscle" type="button">Abs</button>
          <button id="glutes" class="dropdown-item muscle" type="button">Glutes</button>

        </div>
      </div>
    </div>
  </div>
    <div id="ex-main">
      <div id="quotes-wrap">

        <h3 id="quote"></h3>

      </div>
    </div>


<script src="/js/index.js"></script>