<div id="preloader">
  <div class="loader">
    <img src="../images/loader.gif" alt="#" />
  </div>
</div>
<nav id="sidebar">
         <div class="menu_section">
            <ul>
               <li><a href="/homepage">Home</a></li>
            <li><a href="/homepage#readMoreSection">About</a></li>
            <li><a href="/homepage#about_section">Services</a></li>
            <li><a href="/homepage#contactForm">Contact us</a></li>
            <li><a href="/mealplan">Meal Plan</a></li>
            <li><a href="/exercisemain">Exercise</a></li>
            <li><a href="/bmiinput">Health Stats</a></li>
            <li><a href="/water">Water Tracker</a></li>
            <li><a id="logout" href="">Logout</a></li>
               {{!-- <button id="logout">Logout</button> --}}
            </ul>
         </div>
      </nav>
<div id="main-wrap">
  <div id="top-bar-nav">
    <a href="/homepage"><img id="logo-btn-krn" src="/images/Color logo - no background.png" /></a>

      <h2 id="target-spot"></h2>
                  
    <div class="dropleft">
      <button class="drop-btn btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Exercises
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <div class="dropdown-col column-1">

          <button id="back" class="dropdown-item dropdown-bold bp" type="button">Back</button>
          <button id="lats" class="dropdown-item muscle" type="button">Lats</button>
          <button id="spine" class="dropdown-item muscle" type="button">Spine</button>
          <button id="upper%20back" class="dropdown-item muscle" type="button">Upper Back</button>
          <div class="dropdown-divider"></div>

          <button id="cardio" class="dropdown-item dropdown-bold bp" type="button">Cardio</button>
          <button id="cardiovascular%20system" class="dropdown-item muscle" type="button">Cardiovascular System</button>
          <div class="dropdown-divider"></div>

          <button id="chest" class="dropdown-item dropdown-bold bp" type="button">Chest</button>
          <button id="pectorals" class="dropdown-item muscle" type="button">Pectorals</button>
          <button id="serratus%20anterior" class="dropdown-item muscle" type="button">Serratus Anterior</button>
          <div class="dropdown-divider"></div>

          <button id="lower%20arms" class="dropdown-item dropdown-bold bp" type="button">Lower Arms</button>
          <button id="forearms" class="dropdown-item muscle" type="button">Forearms</button>
          <div class="dropdown-divider"></div>

          <button id="lower%20legs" class="dropdown-item dropdown-bold bp" type="button">Lower Legs</button>
          <button id="calves" class="dropdown-item muscle" type="button">Calves</button>
          <div class="dropdown-divider"></div>

          <button id="neck" class="dropdown-item dropdown-bold bp" type="button">Neck</button>
          <button id="levator%20scapulae" class="dropdown-item muscle" type="button">Levator Scapulae</button>

        </div>
        <div class="dropdown-col column-2">

          <button id="shoulders" class="dropdown-item dropdown-bold bp" type="button">Shoulders</button>
          <button id="delts" class="dropdown-item muscle" type="button">Deltoids</button>
          <button id="traps" class="dropdown-item muscle" type="button">Traps</button>
          <div class="dropdown-divider"></div>

          <button id="upper%20arms" class="dropdown-item dropdown-bold bp" type="button">Upper Arms</button>
          <button id="biceps" class="dropdown-item muscle" type="button">Biceps</button>
          <button id="triceps" class="dropdown-item muscle" type="button">Triceps</button>
          <div class="dropdown-divider"></div>

          <button id="upper%20legs" class="dropdown-item dropdown-bold bp" type="button">Upper Legs</button>
          <button id="abductors" class="dropdown-item muscle" type="button">Abductors</button>
          <button id="adductors" class="dropdown-item muscle" type="button">Adductors</button>
          <button id="hamstrings" class="dropdown-item muscle" type="button">Hamstrings</button>
          <button id="quads" class="dropdown-item muscle" type="button">Quads</button>
          <div class="dropdown-divider"></div>

          <button id="waist" class="dropdown-item dropdown-bold bp" type="button">Waist</button>
          <button id="abs" class="dropdown-item muscle" type="button">Abs</button>
          <button id="glutes" class="dropdown-item muscle" type="button">Glutes</button>

        </div>
      </div>
    </div>
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn ex-nav-btn"><img src="/images/menu_icon.png"></button>
  </div>
    <div id="ex-main">
      <div id="quotes-wrap">

        <h3 id="quote"></h3>

      </div>
    </div>

    <footer>
                  <p class="docWarning">The information on this page is strictly for estimate purposes only and is not intended as a substitute for professional medical advice. Following our tool is at your own discretion and we are not liable for any changes or medical issues that may arise after using it.

It is highly recommended that you speak to your doctor before starting any new exercise routine. Express your concerns about your overall health and wellness to your doctor and ask for their approval and guidance. Discuss any pre-existing medical conditions, injuries or physical limitations with your doctor to ensure that the exercise plan you're about to start is safe and appropriate for you. Your doctor may also be able to recommend modifications or adjustments to suit your individual needs. Thank the doctor for their time and support, and inquire if there's anything else you should be aware of regarding your health and wellness.</p>
               </footer>


<script src="/js/index.js"></script>