<div id="preloader">
         <div class="loader">
            <img src="images/loader.gif" alt="#" />
         </div>
      </div>
      <!-- END LOADER -->
      <div class="bckgrnd">
      <div class="wrapper">
      <div id="content">
         <div class="login-card">
            <h3>LOGIN</h3>
            <input id="email-login" type="email" placeholder="Email">
            <input id="password-login" type="password" placeholder="Password">
            <button id="loginBtn">Login</button>
            <p>Don't have an account? <span><a id="signUpAnch" href="/signup">Sign up</a></span></p>
         </div>
         <!-- Start Banner -->
         <div class="ulockd-home-slider">
            <div class="container-fluid">
               <div class="row">
                  <div class="pogoSlider" id="js-main-slider">
                     <div class="pogoSlider-slide" style="background-image:url(images/slider_1.png);">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text white_fonts">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="pogoSlider" id="js-main-slider">
                        <div class="pogoSlider-slide" style="background-image:url(images/run.jpg);">
                           <div class="container">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     <div class="pogoSlider-slide" style="background-image:url(images/pexels-victor-freitas-841130.jpg);">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text white_fonts">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>

      <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

      <script src="/js/login.js"></script>