<div id="preloader">
         <div class="loader">
            <img src="images/loader.gif" alt="#" />
         </div>
      </div>
      <!-- END LOADER -->
      <div class="wrapper">
      <div id="content">
         <div class="login-card">
            <h3 id="smallh3" >SIGN UP</h3>
                <input id="emailSignUp" type="email" placeholder="Email">
                <input id="passSignUp" type="password" placeholder="Password">
                <a id="signUpBtn" href="/homepage">Sign Up</a>
            <p id="smallp">Already have an account? <span><a id="loginAnch" href="/login">Login</a></span></p>
         </div>
         <!-- Start Banner -->
         <div class="ulockd-home-slider">
            <div class="container-fluid">
               <div class="row">
                  <div class="pogoSlider" id="js-main-slider">
                     <div class="pogoSlider-slide" style="background-image:url(images/slider_1.png);">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text white_fonts">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="pogoSlider" id="js-main-slider">
                        <div class="pogoSlider-slide" style="background-image:url(images/run.jpg);">
                           <div class="container">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     <div class="pogoSlider-slide" style="background-image:url(images/pexels-victor-freitas-841130.jpg);">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="slide_text white_fonts">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->