<link rel="stylesheet" href="/css/water.css"/>
<nav id="sidebar">
         <div class="menu_section">
            <ul>
          <li><a href="/homepage">Home</a></li>
            <li><a href="/homepage#readMoreSection">About</a></li>
            <li><a href="/homepage#about_section">Services</a></li>
            <li><a href="/homepage#contactForm">Contact us</a></li>
            <li><a href="/mealplan">Meal Plan</a></li>
            <li><a href="/exercisemain">Exercise</a></li>
            <li><a href="/bmiinput">Health Stats</a></li>
            <li><a href="/water">Water Tracker</a></li>
            <li><a id="logout" href="">Logout</a></li>
               {{!-- <button id="logout">Logout</button> --}}
            </ul>
         </div>
      </nav>
      <div id="water-wrap">
         <!-- Start header -->
         <header class="top-header">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="logo_main">
                        <a href="/homepage"><img src="/images/Color logo - no background.png" /></a>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img
                           src="/images/menu_icon.png"></button>
                  </div>
               </div>
            </div>
         </header>
    <div id="water-cont">
        <div class="container"></div>
        <h1>Water Tracker</h1>
        <div class="container">
            <div class="side-info">
                <svg viewBox="0 0 512 512">
                    <path style="fill:#a5d7fe;"
                        d="M443.873,5.28c-3.032-3.36-7.346-5.278-11.872-5.28h-352c-8.836-0.044-16.036,7.083-16.08,15.92 c-0.003,0.561,0.024,1.122,0.08,1.68l48,480c0.825,8.206,7.752,14.441,16,14.4h256c8.248,0.041,15.175-6.194,16-14.4l48-480 C448.458,13.091,446.954,8.603,443.873,5.28z" />
                    <path style="fill:#2196F3;"
                        d="M401.281,163.2L369.601,480h-227.2l-35.52-354.24c49.558-19.8,105.795-12.921,149.12,18.24 C298.09,174.493,352.715,181.713,401.281,163.2z" />
                    <path style="fill:#a5d7fe;"
                        d="M384.001,512h-256c-8.248,0.041-15.175-6.194-16-14.4l-48-480C63.117,8.808,69.528,0.964,78.32,0.08 c0.558-0.056,1.119-0.083,1.68-0.08h352c8.836-0.044,16.036,7.083,16.08,15.92c0.003,0.561-0.024,1.122-0.08,1.68l-48,480 C399.176,505.807,392.248,512.042,384.001,512z M142.497,480h227.008l44.8-448H97.697L142.497,480z" />
                    <path style="fill:#a5d7fe;"
                        d="M340.897,188.8c-34.507,0.783-68.177-10.679-95.04-32.352c-48.832-40.16-114.048-23.712-148.576-10.336 c-8.245,3.181-17.507-0.923-20.688-9.168s0.923-17.507,9.168-20.688l0,0c40.992-15.808,118.976-34.976,180.384,15.36 c45.376,37.28,104.544,26.624,146.208,11.136c8.186-3.327,17.52,0.611,20.847,8.798s-0.611,17.52-8.798,20.847 c-0.301,0.122-0.606,0.236-0.914,0.339C397.108,182.874,369.154,188.311,340.897,188.8z" />
                </svg>
                <span class="current-cups">0/10</span>
            </div>
            <div>
                <div class="percentage-container">
                    <span class="current-percentage">0%</span>
                    <div class="progress"></div>
                </div>

            </div>
            <div class="side-info">
                <svg viewBox="0 0 512 512">
                    <style type="text/css">
                        .st0 {
                            fill: #2196F3;
                        }

                        .st1 {
                            fill: #35a6ff;
                        }
                    </style>
                    <path class="st0"
                        d="M256.2,0c-23.6,92.2-62.2,181.2-119.7,257.6c-55.9,61.4-44.9,167.8,20.5,219 c27.6,22.8,63.8,35.4,99.2,35.4s71.7-12.6,99.2-35.4c65.4-51.2,75.6-157.5,20.5-219C318.4,181.2,279.8,92.2,256.2,0z" />
                    <path class="st1"
                        d="M257,19.7c-13.4,64.6-34.7,126.8-66.2,180.4c-30.7,42.5-25.2,115.8,11,151.2 c15,15.8,35.4,24.4,55.1,24.4s40.2-8.7,55.1-24.4c36.2-35.4,41.7-108.7,11-151.2C291.6,147.3,269.6,84.3,257,19.7z" />
                </svg>
                <span class="current-liters">0L/2.5L</span>
            </div>
            <div class="buttons">
                <button class="remove" disabled>-</button>
                <button class="add">+</button>
            </div>
        </div>
    </div>

        <script src="/js/water.js"></script>
        <script src="/js/logout.js"></script>
