@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
font-family: 'Roboto', sans-serif;
text-align: center;
color: #1c4a6e;
}

.container {
 display: grid;
 grid-template-columns:2fr 3fr 2fr;   
 width:100%;
 max-width:600px;
 margin:auto;
 gap:10px;
}

.side-info {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.side-info svg {
    width:50%;
    height:auto;
}

.side-info span {
    margin-top:5px;
    font-size:20px;
}

.percentage-container {
width: 100%;
height:100%;
min-height:300px;
margin:auto;
background-color: #a5d7fe;
border-radius:5px;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
font-size:50px;
color:#fff;
position:relative;
}

.progress {
    background-color: #2196F3;
    position:absolute;
    width:100%;
    bottom:0;
    transition:0.5s ease;
}

.current-percentage {
    z-index:1;
}


.buttons {
    grid-column:-1/1;
    margin: 10px auto;
}

button{ 
background-color:#2196F3;
color:#fff;
width:1px solid #a5d7fe;
width:60px;
height:60px;
font-size:45px;
border-radius:50%;
outline-style: none;
cursor: pointer;
}

button:disabled {
    background-color: #a5d7fe;
}

#water-wrap{
    width: 100vw;
    height: 110vh;
    padding-top: 50px;
    background-image: url("/images/gymbg_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

#water-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#water-wrap header{
    height: 100px;
    width: 70%;
    margin: 0 15%;
}

#water-cont h1{
    font-size: 30px;

}
